/* PAGE */
#home {
    height: 100vh;
    text-align: center;
    font-size: 60px;
    animation: movecolor 5s infinite;
    padding: 2px;
  }
/*animetoin BGcolor*/
@keyframes movecolor {
  from {background-color :rgb(243,156,137);}
  to{background-color: rgb(239, 195, 128); }
}
#profile{
    height: 100vh;
    background-color:rgb(255,204,161);
    text-align: center;
}
#resume{
    height: 100vh;
    background-color: rgb(243,225,200);
    text-align: center;
}
#portfolio{
    height: 100vh;
    background-color:rgb(190,215,195);
    text-align:center;

}
#contact{
    height: 100vh;
    background-color:rgb(136,169,157);
    text-align: center;
}

/* style */
html {
    scroll-behavior: smooth;
  }
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
  position: absolute;
  left: auto;
  width: 100px;
  height: 120px;
} 

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .header{
    padding: 1.875rem;
  }
  .icon{
    font-size: 3rem;
    color: black;
    
  }
  .icon:hover{
    color:white
  }
/*Home click*/
span {
 margin: center;

}
span.box{
  border: 5px solid rgb(78, 70, 70);
  border-radius: 30px;
  padding: 10px;
  font-size: 50px;
  line-height: 2;
}
span:hover{
    background-color: rgb(244, 232, 209);
    box-shadow: 0 0 10px 0;
}



/* Poflie*/

img{
  width:18rem;
  height: 18rem;
  border-radius: 50%;
  padding-right: 30px;
  padding-left: 30px;
}